
    <footer>
        <p>Daily Quote App - An Express.js Project by <a href="https://github.com/jg-digital-media" target="_blank">Jonnie Grieve Digital Media</a></p>
    </footer>

    <!-- <a href="https://github.com/jg-digital-media/express_site" target="_blank">Repository</a> -->
    <script src="/app.js" defer></script>
</body>
</html>