<%- include("partials/header") %>

    <main>

        <article class="about---daily--quoteapp_container">

            <h3>About the Daily Quote App</h3>

            <p>This is a simple application that loads a daily motivational or historical quote from a JSON source.  It's written in Express.js with Node in JavaScript.  It links with a matching project written in PHP's Slim (coming soon) </p>

            <p>Daily Quote App is a working desktop application that handles input, state, and data persistence.</p>
                
            <!-- <p>The dark colourings of the scrapes are the leavings of natural rubber, a type of non-conductive <a href="https://github.com/jg-digital-media/express_project" class="daily---quote--link" target="_blank">sole used by researchers experimenting with electricity</a>. The molecules must have been partly de-phased by the anyon beam.</p> 
             
            <a href="https://github.com/jg-digital-media/express_project" class="daily---quote--link" target="_blank">set-up</a>
            
            -->

        </article>
        
    </main>

<%- include("partials/footer") %>