<%- include("partials/header") %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="style.css">

    <title>View Quote | Express Project by JGDM</title>

</head>
<body>

    <header>

        <div class="website---titles">

            <h1>Daily Quote App</h1>
            <h2><em>An Express.js Project <span class="app---version"><a href="https://github.com/jg-digital-media/express_project" target="_blank">v3</a></span> </em></h2>

        </div>

        <nav>

            <a href="/">Home</a>
            <a href="/browse">Browse</a>
            <a href="/about">About</a>

        </nav>

    </header>

    <main>

        <article class="about---daily--quoteapp_container">

            <h3>About the Daily Quote App</h3>

            <p>Unidentified vessel travelling at sub warp speed, bearing 235.7. Fluctuations in energy readings from it, Captain. All transporters off. A strange <a href="https://github.com/jg-digital-media/express_project" class="daily---quote--link" target="_blank">set-up</a>, but I'd say the graviton generator is depolarized. </p>
                
            <!-- <p>The dark colourings of the scrapes are the leavings of natural rubber, a type of non-conductive <a href="https://github.com/jg-digital-media/express_project" class="daily---quote--link" target="_blank">sole used by researchers experimenting with electricity</a>. The molecules must have been partly de-phased by the anyon beam.</p> -->

        </article>
        
    </main>

<%- include("partials/footer") %>