<%- include("partials/header") %>

    <main>

        <!-- <p>index.php - <a href="https://github.com/jg-digital-media/express_project" target="_blank">Repository</a></p> -->

        <article class="quote---container">

            <h3>Today's Quote</h3>

            <h4 id="quote-text" aria-live="polite"><%= quote.quote %></h4>

        </article>

        <aside class="quote---author">

            <h4 id="quote-author" aria-live="polite"><%= quote.author %></h4>

        </aside>

        <a href="#" class="new---quote">New Quote</a>

    </main>

    <%- include("partials/footer") %>