<%- include("partials/header") %>

<body>

    <header>

        <div class="website---titles">

            <h1>Daily Quote App</h1>
            <h2><em>An Express.js Project <span class="app---version"><a href="https://github.com/jg-digital-media/express_project" target="_blank">v3</a></span> </em></h2>

        </div>

        <nav>

            <a href="/">Home</a>
            <a href="/browse">Browse</a>
            <a href="/about">About</a>

        </nav>

    </header>

    <main>

        <!-- <p>index.php - <a href="https://github.com/jg-digital-media/express_project" target="_blank">Repository</a></p> -->

        <article class="quote---container">

            <h3>Today's Quote</h3>

            <h4 id="quote-text" aria-live="polite"><%= quote.quote %></h4>

        </article>

        <aside class="quote---author">

            <h4 id="quote-author" aria-live="polite"><%= quote.author %></h4>

        </aside>

        <a href="#" class="new---quote">New Quote</a>

    </main>

    <%- include("partials/footer") %>