<%- include("partials/header") %>

    <main>

        <article class="view--quote_container">

            <h3>View Quote</h3>

            <div class="quote---view">

                <h4>Every expert was once a beginner.</h4>
                <p>Author 2</p>
                <a href="https://www.jonniegrieve.co.uk/quotes/quote-2" target="_blank">Link</a>

            </div>

            <div class="quote---view--more">

                <a href="browse.php" target="_blank">View More Quotes</a>

            </div>

        </article>
        
    </main>

<%- include("partials/header") %>